Package: isomd5sum-dbgsym
Package-Type: ddeb
Source: isomd5sum
Version: 1.2.5
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: isomd5sum Maintainers <anaconda-devel-list@redhat.com>
Installed-Size: 107
Depends: isomd5sum (= 1.2.5)
Section: debug
Priority: optional
Description: debug symbols for isomd5sum
Build-Ids: 10bb266f61c5e8877549638cd784b68df25a4738 279bca5059a7f8eef25dbd9c8e5bcb41d970b82b 39272d48b3f6082faa80b2b4d26618fa417b9470 d501e806683620daec182705f7a97447ad498210
