name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test-linux:
    name: Test on Linux
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:39
    steps:
      - uses: actions/checkout@v4
      - name: Build and Test
        run: |
          dnf install -y gcc popt-devel python3 python3-devel make xorriso
          make
          make test
  
  build-linux-cmake:
    name: Build on Linux with CMake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake libpopt-dev
      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          make
      - name: Test executables
        run: |
          ./build/checkisomd5 --help || true
          ./build/implantisomd5 --help || true
